@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url("../images/bg-tablet-pattern.svg"),url("../images/bg-tablet-pattern.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 50%;
    background-position: 110% -20%, -50% 60%;
}

.hamburger{
    width: 24px;
    height: 24px;
    transition: all 0.5s;
    position: relative;
    cursor: pointer;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom{
    width: 24px;
    height: 3px;
    background-color: hsl(228, 39%, 23%);
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
transform: translateY(14px);
}

.open {
transform: rotate(90deg);
transform: translateY(0px);
}

.open .hamburger-top {
transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
display: none;
}

.open .hamburger-bottom {
transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.simplify{
    background-image: url("../images/bg-simplify-section-desktop.svg");
    background-position:40% 80%;
}

@media screen and (max-width: 980px)  {
    body{
        background-size: 700px;
        background-position: 120% -10%, -50% 50%;
    }
}

@media screen and (max-width: 600px)  {
    body{
        background-size: 500px, 350px;
        background-position: -30% -5%, 250px 17%;
    }
    .simplify{
        background-image: url("../images/bg-simplify-section-mobile.svg");
        background-position: left 100%;
        background-repeat: no-repeat;
    }
}